<h1 class="index-title">Find Your Perfect Car</h1>

<div class="index-container">
    <div class="row justify-content-center">
        <% @cars.each do |car| %>
            <div class="col-md-4 mb-4">
                <%= link_to car_path(car), class: 'card car-card text-decoration-none text-dark' do %>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= car.brand %>
                            <%= car.model %>
                            <%= car.year_of_production %>
                        </h5>
                        <p class="card-text">
                            <%= car.address %>
                            €<%= car.price_per_day %>/Day
                        </p>
                    </div>
                    <% end %>
            </div>
            <% end %>
    </div>

<div class="reservations-container">
    <h3 class="reservations-title">My Reservations</h3>
    <div class="reservations-list">
        <% @reservations.each do |reservation| %>
            <% car=Car.find(reservation.car_id) %>
                <div class="reservation-card">
                    <!-- <img src="<%= car.image_urls %>" class="reservation-image" alt="<%= car.brand %> <%= car.model %>"> -->
                    <div class="reservation-content">
                        <h5 class="reservation-title">
                            <%= car.brand %>
                                <%= car.model %> (<%= car.year_of_production %>)
                        </h5>
                        <p class="reservation-details">
                            <strong>Start Date:</strong>
                            <%= reservation.start_date.strftime("%d %B %Y") %><br>
                                <strong>End Date:</strong>
                                <%= reservation.end_date.strftime("%d %B %Y") %>
                        </p>
                    </div>
                </div>
                <% end %>
    </div>
</div>

</div>